@import "tailwindcss";

@theme {
  --font-mono: var(--font-jetbrains-mono);

  --color-terminal: #0A0A0A;
  --color-panel: #111111;
  --color-border-dim: #333333;
  --color-text-primary: #D3D7CF;
  --color-text-accent: #FCE94F;
  --color-text-success: #4E9A06;
  --color-text-highlight: #32AFFF;
  --color-cursor: #FF00FF;
}

/* Custom Scrollbar for Terminal Feel */
::-webkit-scrollbar {
  width: 10px;
  background: var(--color-terminal);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-dim);
  border: 1px solid var(--color-panel);
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}