
# Build Artifacts
/target
/dist
/build
/node_modules
**/*.enc
**/*.log

# Mobile Builds
*.apk
*.aab
*.ipa
*.dSYM

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp

# Environment
.env
.env.local
*.key
*.pem
*.keystore
*.jks
keystore_base64.txt

# Ignore Nested Landing Page Repo
comlock-landing/
